.banner {
    align-items: center;
    background-image: url(../../assets/images/banner.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Blood;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    margin-top: -110px;
  }